﻿@model _2ndLife.Models.Offer

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.OfferName)</h1>

<div>

    <hr />

    <div class="d-flex justify-content-between">
        <div>
            <img src="~/userimage/@Model.Image" style="max-height: 400px; max-width: 400px" alt="Na razie kot" />
        </div>

        <div>
            City: @Model.User.City
            @if (Model.IsFree == true)
            {
                <p>This item is free!</p>
            }
            Item added by: @Model.User.Email
        </div>

    </div>
    <hr />
    <div class="">
        @Html.DisplayFor(model => model.Description)
    </div>
    <hr />

    <div id="googleMap" style="height:500px;width:100%;">
    </div>
    
    <hr />
    <div class="mt-2">
        <form asp-action="Index" asp-controller="Conversation" method="post">
            <input class="form-control" name="User1" value=@ViewBag.User1 type="hidden" />
            <input class="form-control" name="User2" value=@ViewBag.User2 type="hidden" />
            <input type="submit" asp-action="Index" asp-controller="Conversation" class="btn btn-primary" value="Message" />
        </form>|



        <a asp-action="Edit" asp-route-id="@Model.OfferId" class="mt-2">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<script>

    function myMap() {
        var lat = ("@Model.User.LocationLat").replace(',', '.');
        var len = ("@Model.User.LocationLen").replace(',', '.');
    var myCenter = new google.maps.LatLng(lat, len); // add dlugosc i szerokosc jako int
    var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    var marker = new google.maps.Marker({ position: myCenter });
    marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaETnkEi81VlxN3DPxWnZeUXg7qjMT3hU&callback=myMap"></script>


