﻿@model IEnumerable<_2ndLife.Models.Offer>

@using Microsoft.AspNetCore.Identity
@using _2ndLife.Areas.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated == true)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="container d-flex flex-row w-75 flex-fill p-2" style="background-color: #e8e2ba">
    <form asp-action="Index" method="get" class="d-flex flex-row justify-content-between flex-fill">
        <select asp-for="FirstOrDefault().CategoryId" asp-items="ViewBag.CategoryId" class="form-control w-auto">
            <option selected>Wszystkie</option>
        </select>
        <input type="submit" value="Filtruj" class="btn btn-dark" />
    </form>

</div>

<div class="d-flex flex-column">
    @foreach (var item in Model)
    {
        <div class="d-flex justify-content-between mt-2 border" style="background-color: #e8e2ba">
            <div class="" style="">
                <img src="~/userimage/@item.Image" style="max-height: 200px; max-width: 200px" alt="Na razie kot" />
            </div>
            <div class="d-flex flex-column flex-fill">
                <div class="d-flex justify-content-between align-items-start flex-fill">
                    <div class="pl-2">
                        <a asp-action="Details" asp-route-id="@item.OfferId" class="font-weight-bold text-decoration-none ofertName">@Html.DisplayFor(modelItem => item.OfferName)</a>
                    </div>
                    <div class="pr-2 pt-2">
                        <p>@item.User.City</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-end flex-fill">
                    <div class="pl-2 pt-2">
                        @{
                            var param = new Dictionary<string, string>()
                                                    {
                                { "CategoryId", item.CategoryId.ToString() }
                            };

                        }
                        <a asp-action="Index" asp-all-route-data="param">@Html.DisplayFor(modelItem => item.Category.CategoryName)</a>
                    </div>
                    @if (User.Identity.IsAuthenticated == true)
                    {
                    @if (item.UserId.Equals(UserManager.GetUserId(User)) || UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result.Contains("Admin"))
                    {
                <div class="">
                    @if (UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result.Contains("Admin"))
                    {
                        @if (item.IsReported == true)
                        {
                            <div style="color:#ff0000">
                                This offer is reported:
                                <a asp-action="Unreport" asp-route-id="@item.OfferId">Unreport</a>
                            </div>
                        }
                        <a asp-action="Ban" asp-route-id="@item.OfferId">Ban</a>
                    }

                    <div style="margin-left:auto">
                        @if (item.IsReported == false)
                        {
                            <a asp-action="Report" asp-route-id="@item.OfferId">Report</a>
                        }
                        <a asp-action="Edit" asp-route-id="@item.OfferId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.OfferId" class="text-decoration-none text-danger">Delete</a>
                    </div>
                </div>
                    }
                    }
                </div>
            </div>

        </div>}

</div>

