﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Conversation>

    <div>
        <div>
            @foreach (var conv in Model)
            {
            <div class="mt-2">
                <form asp-action="Index" asp-controller="Conversation" method="post">
                    <input class="form-control" name="User1" value=@conv.UserId type="hidden" />
                    <input class="form-control" name="User2" value=@conv.User2ndId type="hidden" />
                    <input type="submit" asp-action="Index" asp-controller="Conversation" class="btn btn-primary" value="Konwersacja @conv.Users.First().Email z @conv.Users.Last().Email" />
                </form>
            </div>
              }

        </div>

        <div>


        </div>


    </div>
