﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Conversation
<div>
    <h3>Rozmowa @Model.Users.First().Email z @Model.Users.Last().Email</h3>
    <hr />
    <div>
        @if (Model.Messages != null)
        {
            @foreach (var item in Model.Messages)
            {
                @if (item.User.Id == Model.UserId)
                {
                    <div class=" d-flex  m-2">
                        <div class="rounded p-2" style="background-color: burlywood; max-width: 75%;">
                            <div class="font-weight-bold">
                                @item.User.UserName napisał o @item.Time : <br />
                            </div>
                            @item.MessageContent
                        </div>
                    </div>}
                else
                {
                    <div class="m-2 d-flex justify-content-end flex">
                        <div class="rounded p-2" style="background-color: lightblue; max-width: 75%;">
                            <div class="font-weight-bold">
                                @item.User.UserName napisał o @item.Time : <br />
                            </div>
                            @item.MessageContent
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div>
        <form asp-action="Create">
            <input type="text" name="messageContent" class="form-control mt-3" />
            <input name="id" type="hidden" class="form-control" value="@Model.ConversationId" />
            <input type="submit" asp-action="Create" class="btn btn-primary mt-2" />
        </form>
    </div>


</div>