﻿@page
@model _2ndLife.Areas.Identity.Pages.Account.Manage.LocalizationData
@{
    ViewData["Title"] = "Profile";
}




<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div class="form-group">
                <input asp-for="Input.UserName" class="form-control" disabled hidden />
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Location"></label>
                <input asp-for="Input.Location" class="form-control" />
            </div>
            <div id="googleMap" style="height:500px;width:100%;"></div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>


<script>

    function myMap() {
    var lat = ("@Model.LocationLat").replace(',', '.');
    var len = ("@Model.LocationLen").replace(',', '.');
    var myCenter = new google.maps.LatLng(lat, len); // add dlugosc i szerokosc jako int
    var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    var marker = new google.maps.Marker({ position: myCenter });
    marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaETnkEi81VlxN3DPxWnZeUXg7qjMT3hU&callback=myMap"></script>